#gameboard {
    width: 40vw;
    height: 40vw;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.square {
    height: 5vw;
    width: 5vw;
    position: relative;
}

.square svg {
    height: 30px;
    width: 30px;
    margin: 5px;
    position: relative;
    z-index: -9;
}

path{
    position: relative;
    z-index: -10;
}

.piece{
    position: relative;
    z-index: 9;
}

.imagem{
    height: 5vw;
}

.beige {
    background-color: rgb(110, 110, 98);
}

.brown {
    background-color: rgb(169, 43, 43);
}

.black{
    fill: rgb(28, 28, 28);
}

.white{
    fill: rgb(255, 255, 255);
}

#texto-player {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
}